.main {
  min-height: 100vh;
  position: relative;
}

.searchBoxContainer {
  position: absolute;
  z-index: 1000;
  height: fit-content;
  width: fit-content;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.searchBoxContainer .searchBoxWrapper {
  position: relative;
  height: 3.2rem;
  width: 30rem;
  background: white;
  display: flex;
  border-radius: 0.3rem;
  border: 1px solid #fdfdfd;
}
.searchBoxWrapper input {
  height: inherit;
  background: white;
  color: black;
  outline: none;
  border: none;
  padding-inline: 1rem;
  font-size: 1rem;
  font-family: inherit;
  flex: 1;
  width: auto;
}

.searchBoxWrapper input::placeholder {
  color: #999999;
}

.searchBoxWrapper button {
  height: inherit;
  background: #f2f2f2;
  color: black;
  outline: none;
  cursor: pointer;
  border: none;
  padding-inline: 1.5rem;
}
.searchBoxWrapper button:hover {
  background: #eeeeee;
}

.searchBoxWrapper .suggestionContainer {
  position: absolute;
  border-top: 1px solid #eeeeee;
  top: 100%;
  background: #ffffff;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1200;
  min-height: 10rem;
}
.suggestionContainer ul {
  list-style-type: none;
}
.suggestionContainer ul li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: flex-start;
  padding: 0.8rem 0.3rem;
  color: black;
  cursor: pointer;
}
.suggestionContainer ul li:hover {
  background-color: #f9f9f9;
}
